Repository velyune/WebDevelopment: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, xargs -n 1 buf format --write, xargs -n 1 buf lint, prisma format --schema=./libs/api/prisma/schema.prisma

.lintstagedrc:

{
  "**/*.{html,ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "**/*.{css,scss}": ["stylelint --fix", "prettier --write"],
  "**/*.{json,yml,yaml,md}": ["prettier --write"],
  "**/*.proto": ["xargs -n 1 buf format --write", "xargs -n 1 buf lint"],
  "**/*.prisma": ["prisma format --schema=./libs/api/prisma/schema.prisma"]
}

Исправление ошибки
  docs/US3.md
Due: prettier --write

Лабораторная работа 1
  docs/US3.md
Due: prettier --write

Добавлена папка public
  public/public.md
Due: prettier --write

feat: архитектура с разделением ролей, бизнес-логика статусов и оплаты
  Features/NotaryPersonalAccount/Request, payment, and receipt of copies/applicant.html
  Features/NotaryPersonalAccount/Request, payment, and receipt of copies/notary.html
  Features/NotaryPersonalAccount/Request, payment, and receipt of copies/script.js
  Features/NotaryPersonalAccount/Request, payment, and receipt of copies/style.css
Due: eslint --fix, prettier --write, stylelint --fix

Перенёс файлы в app
  apps/web/src/app/features/supportchat/admin.html
  apps/web/src/app/features/supportchat/css/admin.css
  apps/web/src/app/features/supportchat/css/faq.css
  apps/web/src/app/features/supportchat/faq.html
  apps/web/src/app/features/supportchat/js/admin.js
  apps/web/src/app/features/supportchat/js/faq.js
Due: eslint --fix, prettier --write, stylelint --fix

ci: init netlify config
  netlify.toml
Due: none

refactor: move admin panel files to apps/web/src structure and relocate styles
  apps/web/src/angular/styles/admin-dashboard/style.css
  apps/web/src/app/features/admin_panel/admin-menu.html
  apps/web/src/app/features/admin_panel/index.html
  apps/web/src/app/features/admin_panel/script.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: expose html-invoked functions on window to resolve no-unused-vars warnings
  apps/web/src/app/features/admin_panel/script.js
Due: eslint --fix, prettier --write

Initial commit
  index.html
  script.js
  style.css
Due: eslint --fix, prettier --write, stylelint --fix

docs: add README for notary UI
  README.md
Due: prettier --write

Обновлена структура
  docs/Responsobility.md
Due: prettier --write

Добавлены компоненты по видалм полизователей
  apps/web/src/app/features/admin/admin.css
  apps/web/src/app/features/admin/admin.html
  apps/web/src/app/features/admin/admin.spec.ts
  apps/web/src/app/features/admin/admin.ts
  apps/web/src/app/features/admin/index.html
  apps/web/src/app/features/applicant/applicant.css
  apps/web/src/app/features/applicant/applicant.html
  apps/web/src/app/features/applicant/applicant.spec.ts
  apps/web/src/app/features/applicant/applicant.ts
  apps/web/src/app/features/applicant/index.html
  apps/web/src/app/features/common/common.css
  apps/web/src/app/features/common/common.html
  apps/web/src/app/features/common/common.spec.ts
  apps/web/src/app/features/common/common.ts
  apps/web/src/app/features/common/index.html
  apps/web/src/app/features/common/landing-page/landing-page.css
  apps/web/src/app/features/common/landing-page/landing-page.html
  apps/web/src/app/features/common/landing-page/landing-page.spec.ts
  apps/web/src/app/features/common/landing-page/landing-page.ts
  apps/web/src/app/features/notary/index.html
  apps/web/src/app/features/notary/notary.css
  apps/web/src/app/features/notary/notary.html
  apps/web/src/app/features/notary/notary.spec.ts
  apps/web/src/app/features/notary/notary.ts
  apps/web/src/app/landing-page/landing-page.css
  apps/web/src/app/landing-page/landing-page.html
  apps/web/src/app/landing-page/landing-page.ts
  nx.json
Due: eslint --fix, prettier --write, stylelint --fix

Удален nxcloudid
  nx.json
Due: prettier --write

исправлен project.json
  apps/web/project.json
Due: prettier --write

Оформила дизайн формы заявки для оценки недвижимости + Бурцева Мария
  Features/RealEstateValuation/real_estate_valuation_ui.css
  Features/RealEstateValuation/valuation_property_parameters.html
Due: eslint --fix, prettier --write, stylelint --fix

fix: disable cloud
  .github/workflows/ci.yaml
  nx.json
Due: prettier --write

fix: correct webpack output path for api serve executor
  apps/api/project.json
  apps/api/webpack.config.js
Due: eslint --fix, prettier --write

chore: disable nx cloud to fix ci authorization failure
  nx.json
Due: prettier --write

fix: netlify.toml
  netlify.toml
Due: none

docs: improve readme.md
  README.md
Due: prettier --write

Восстановлена структура
  README.md
  libs/shared/api-contracts/README.md
  libs/shared/api-contracts/project.json
  libs/shared/api-contracts/proto/notary/payment/v1alpha1/payment.proto
  libs/shared/api-contracts/proto/notary/user/v1alpha1/user.proto
  libs/web/admin/src/lib/admin.routes.ts
  libs/web/admin/src/lib/admin/admin.html
  libs/web/admin/src/lib/admin/admin.ts
  libs/web/applicant/src/lib/applicant.routes.ts
  libs/web/applicant/src/lib/applicant/applicant.html
  libs/web/applicant/src/lib/applicant/applicant.ts
  libs/web/guest/src/lib/guest.routes.ts
  libs/web/guest/src/lib/guest/guest.html
  libs/web/guest/src/lib/guest/guest.scss
  libs/web/guest/src/lib/guest/guest.ts
  libs/web/notary/src/lib/notary.routes.ts
  libs/web/notary/src/lib/notary/notary.html
  libs/web/notary/src/lib/notary/notary.ts
  libs/web/shared/ui/src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix, xargs -n 1 buf format --write, xargs -n 1 buf lint

Восстановлена структура
  docs/developer-setup.md
  docs/grpc-forms-contracts-plan.md
  docs/sitemap.md
  libs/shared/api-contracts/buf.gen.yaml
  libs/shared/api-contracts/proto/notary/document/v1alpha1/document.proto
  libs/shared/api-contracts/proto/notary/forms/v1alpha1/forms.proto
  libs/web/shared/ui/src/lib/dashboard-layout/dashboard-layout.html
  libs/web/shared/ui/src/lib/dashboard-layout/dashboard-layout.scss
  libs/web/shared/ui/src/lib/dashboard-layout/dashboard-layout.ts
  libs/web/shared/ui/src/lib/placeholder-page/placeholder-page-route.ts
  libs/web/shared/ui/src/lib/placeholder-page/placeholder-page.html
  libs/web/shared/ui/src/lib/placeholder-page/placeholder-page.scss
  libs/web/shared/ui/src/lib/placeholder-page/placeholder-page.ts
Due: eslint --fix, prettier --write, stylelint --fix, xargs -n 1 buf format --write, xargs -n 1 buf lint

тест
  CHANGELOG.md
Due: prettier --write

fix(web): add provideRouter
  apps/web/project.json
  libs/web/admin/src/lib/admin/admin.spec.ts
  libs/web/applicant/src/lib/applicant/applicant.spec.ts
  libs/web/guest/src/lib/features/auth/login/login.spec.ts
  libs/web/guest/src/lib/guest/guest.spec.ts
  libs/web/notary/src/lib/notary/notary.spec.ts
Due: eslint --fix, prettier --write
